@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
	--red: #c21a1a;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    padding: 5px;
    border: solid 2px white;
    border-radius: 10px;
}

a:hover {
    background-color: var(--red);
    
}

 nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    padding-inline: 10px;
    background-color: black;
    /*background: linear-gradient(#220101, #210707, #130909);*/
    color: white;
}

nav h1 {
  
    align-content: center;
}
.logo-nav {
    width: 60px;
    border-radius: 100px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

header {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    font-size: larger;
    background-image: url(./images/villa-nuit.jpg);
    background-size: cover;
    color: white;
}


header h2{
font-size: 50px;
}



button {
    background-color: inherit;
    color: white;
    border: solid 3px white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



.activites ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .activites li {
    list-style: none;
    flex-basis: calc(25% - 40px);
  }
  
  .activites h4 {
    font-size: 15px;
  }
  
  .activites p {
    font-size: 15px;
    padding: 10px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
  }

  figcaption p{
    box-shadow: 5px 0px 3px 1px rgb(28, 26, 26);
  }
  
  .activites i {
    color: var(--red);
    background-color: #f1bdbd;
    padding: 12px;
    border-radius: 15px;
  }
 


.apropos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(168, 22, 22);
    padding: 40px;
}


.apropos p {
    max-width: 500px;
    border-left: solid 2px white;
    padding: 0 20px 0 10px;
}

.apropos img{
    border-radius: 20px;
    width: 350px;
    box-shadow: 5px 0px 5px 5px rgb(28, 26, 26);
}



.Presentation-img img {  
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 0px 5px 5px rgb(28, 26, 26);
}

footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*background: linear-gradient(#130909, #210707, #220101);*/
    background-color: black;
    color: white;
}

footer h3{
    font-size: 22px;
}

footer ul li{
    list-style: none;
}

.contact a {
    border: none;
    background-color: inherit;
    padding-inline: 0;
}

/* Media query pour les écrans de largeur maximale de 600px (version mobile) */
@media (max-width: 600px) {
  .activites li {
    flex-basis: calc(80% - 40px);
  }
  nav ul{
    font-size: smaller;
  }
}


